<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Signin · Flack</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../assets/dist/css/bootstrap.css" rel="stylesheet">
    <link href="{{url_for('static', filename='master.css')}}" rel="stylesheet">
  </head>
  <body class="text-center">
  <form action="{{url_for('index')}}" method="post" class="form-signin">
    <img class="mb-4" src="{{url_for('static', filename='logo.png')}}" alt="" width="160" height="160">
    <label for="inputEmail" class="sr-only">Display name</label>
    <input type="text" name="username" class="form-control" placeholder="Enter display name" required autofocus>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Start now</button>
  </form>
</body>
</html>
